@media only screen and (max-width: 600px) {
  .nav {
    height: 60px;
  }
  .nav .right a {
    display: none;
  }
  .nav .inputBtn {
    display: none;
  }
  .nav .title {
    font-size: 3.1em;
    margin-left: 8px;
  }
  .sidebar .inputBtn i {
    position: absolute;
    top: 34%;
    left: 94px;
    font-size: 0.9em;
    opacity: 0.5;
    transform: translateX(28vw);
  }
  .nav i {
    font-size: 3em;
    font-weight: 550;
    display: block;
  }
  .logo {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    margin-left: 3.9px;
  }
  .right {
    font-size: 10px;
  }
  .btn {
    height: 25px;
    font-size: 10px;
  }
  .Row {
    flex-direction: row;
    background-color: #f1f2f4;
  }

  .container {
    width: calc(50% - 14px);
    margin: 1vw 1px 5px 3px;
  }

  .computer {
    margin-top: 760px;
  }
  .electrical {
    margin-top: 760px;
  }
  .img1 {
    height: 165px;
    background-size: cover;
  }
}
