* {
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}
body {
  background-color: #f1f2f4;
  font-family: "Roboto", sans-serif;
}

.nav {
  height: 7dvh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #dadada;
  font-family: "Times New Roman", Times, serif;
  background-color: aqua;
  text-decoration: none;
}
.left {
  display: flex;
  align-items: center;
  gap: 2.3vw;
  font-size: 1.9vw;
  font-weight: 550;
  text-decoration: none;
  color: black;
}
.right {
  display: flex;
  align-items: center;
  gap: 3vw;

  font-size: 1.8vw;
  margin-right: 2vw;
  text-decoration: none !important;
}
.logo {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.btn {
  height: 4vh;
  width: 20vw;
  border-radius: 12px;
  border: 2px solid grey;
  font-size: 0.6em;
  color: black;
  font-family: "Times New Roman", Times, serif;
}
.inputBtn {
  position: relative;
}
.inputBtn input {
  padding-left: 30px;
}
.inputBtn i {
  position: absolute;
  top: 24%;
  left: 10px;
  font-size: 0.7em;
  opacity: 0.5;
  transform: translateX(19vw);
}
#sideB {
  display: none;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #aedef2;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidebar .inputBtn i {
  position: absolute;
  top: 34%;
  left: 95px;
  font-size: 0.9em;
  opacity: 0.5;
  transform: translateX(28vw);
}
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
  transition: 0.3s;
}
.sidebar .inputBtn {
  padding: 8px 8px 8px 32px;
}
.sidebar .btn {
  font-size: 18px;
  width: 80%;
  height: 34px;
  border-radius: 10px;
}
.sidebar a:hover {
  color: #f1f1f1;
}
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 2.8em;
  margin-left: 50px;
}
.Row {
  height: 40dvh;
  background-color: white;
  display: flex;
  flex-wrap: wrap;

  gap: 2vw;
  align-items: center;
  margin: 20px 0px 0px 0px;
}

/* .container {
  height: 37dvh;
  width: 12.5dvw !important;

  margin-left: 30px;
  border-radius: 7px;
  border: 1px solid black;
} */
.container {
  height: 37dvh;
  width: calc(14% - 2vw);
  margin-left: 35px;
  border-radius: 7px;
  border: 1px solid black;
}

.top {
  height: 75%;
  width: 100%;

  background-repeat: no-repeat;
}

.bottom {
  text-align: center;
  padding: 10px 0px 5px 0px;
}
.head {
  font-weight: 500;
}
.bottom h3 {
  font-weight: 400;
}
.bottom button {
  background-color: aquamarine;
  height: 30px;
  width: 70px;
  border-radius: 5px;
  margin-top: 2px;
  font-size: 1em;
}

.container:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  -ms-transform: all 0.3s ease-in-out;
  transform: all 0.3s ease-in-out;
}
.bName {
  margin-top: 0;
  padding-top: 0;
}
h2 {
  margin: 10px 0px 0px 10px;
}
.img1 {
  height: 23.5dvh;
  background-size: cover;
  margin: 1rem 1rem 1rem 2.3rem;
}
#showFormBtn {
  background-color: aquamarine;
  height: 30px;
  width: 70px;
  border-radius: 5px;
  margin-top: 2px;
  font-size: 1em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fff;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  position: relative;
  width: 80%;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
  color: #aaa;

  top: 21%;
  float: right;
  font-size: 2.5em;
}
#closeBtn {
  margin-top: -21px;
  font-size: 2.5em;
  transform: translateX(0.6vw);
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
}

button[type="submit"] {
  padding: 10px;
  background-color: aquamarine;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
}

button[type="submit"]:hover {
  background-color: aquamarine;
}
